.progress-step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.progress {
    height: 10px;
    top: 15px;
    right: 0;
    transform: translateX(50%);
}

.order-lists {
    .order-item {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        .order-info {
            display: flex;
            align-items: center;

            .order-product-name {
                display: flex;
                flex-direction: column;
            }
        }

        .order-item-total {
            display: flex;
            align-items: center;
            gap: 30px;

            .order-count {
                .order-input {
                    width: 50px;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}

.order-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > div {
        > span {
            &:last-child {
                display: inline-block;
                width: 100px;
                text-align: right;
            }
        }
    }
}